@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
html{
  font-size:62.5%;
}
::-webkit-scrollbar {
  width:5px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

/* Handle (thumb) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar handle on hover */
}
:root{
  --buttons-color:#0c78ac;
  --color-white:#fff;
  --color-black:#000;
  --buttons-hover:#240cac;
  --transition-main:all 0.3s;
  --box-shadow:0 0 5px rgba(0,0,0,0.25);
  --orangesh:#ff004f;
  --gray:#CCC;
  --bold-weight:600;
  --box-shadow:0 0 5px rgba(0,0,0,0.25)
}
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Outfit'sans-serif;
}
a{
  text-decoration:none;
}
input{
  height:45px;
  width:100%;
}
.container{
  width:100%;
  max-width:1400px;
  margin:0 auto;
}
.btn{
  font-size:1.1rem;
  color:var(--color-white);
  padding:1rem 2rem;
  background:var(--buttons-color);
  transition:var(--transition-main);
  font-weight:600;
}
.btn:hover{
  background:var(--buttons-hover);
  color:var(--color-white);
}
.small-text{
  font-size:1.8rem;
}
.flex{
  display:flex;
  align-items:center;
  text-align: center;
  justify-content:center;
}


.main-content{
  display:flex;
}
.main-content .sidebar{
  flex-basis:20%;
  border-right:1px solid #ccc;
}
.main-content .main{
  flex-basis:70%;
}
.main-title{
  font-size:2.3rem;
}
.form-title{
  font-size:3.4rem;
  text-align: center;
  font-weight: var(--bold-weight);
  color:var(--buttons-hover);
}
.error{
  color:var(--orangesh);
  font-size:1rem;
}






@media(max-width:880px){
  html{
    font-size:55%;
  }
}
@media(max-width:560px){
  html{
    font-size:46%;
  }
}